.job-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    padding: 10px;
  }
  
  .job-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
  }
  